# Dev Board LEDs
set_io --warn-no-port out_leds[0]  B5
set_io --warn-no-port out_leds[1]  B4
set_io --warn-no-port out_leds[2]  A2
set_io --warn-no-port out_leds[3]  A1
set_io --warn-no-port out_leds[4]  C5
set_io --warn-no-port out_leds[5]  C4
set_io --warn-no-port out_leds[6]  B3
set_io --warn-no-port out_leds[7]  C3

# Dev Board Clock
set_io --warn-no-port in_clk_12_mhz J3

# NES Controller
set_io --warn-no-port out_controller0_pulse N3
set_io --warn-no-port out_controller0_latch M2
set_io --warn-no-port in_controller0_data   L3

# VGA666
set_io --warn-no-port out_vga_r L16
set_io --warn-no-port out_vga_g P15
set_io --warn-no-port out_vga_b M15
set_io --warn-no-port out_vga_hsync M16
set_io --warn-no-port out_vga_vsync N16
#set_io --warn-no-port out_vga_hsync C16
#set_io --warn-no-port out_vga_vsync B16
